h1 { 
  padding: 5px 0;
  background: #eee;
}

#results { padding: 0 20px; }
.details { font-size: 80%; }
a.session { color: #363; }
.base { color: #833; }
.act { color: #383; }
.ver { color: #338; }

table.headers { 
  font-family: monospace;
  width: 100%;
}
table.headers tr td { 
  background: #eee;
  padding: 2px;
  border-bottom: 1px solid #ddd;
}
table.headers tr th { 
  text-align: right; 
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #ccc;
  background: #ddd;
  padding: 2px;
  width: 200px;
}

table.xmlbody { 
  font-family: monospace;
  width: 100%;
}
table.xmlbody tr th { 
  text-align: left; 
  font-size: 90%;
  color: #833;
}

table.compare tr.bottom td { 
  border-bottom: 1px solid #aaa;
}

.current_session {
  background-color: #eee;
}

.snifter-list {
  float: right;
}

.tweaker-overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(200, 200, 200, 0.5);
  overflow-y: scroll;
}
.tweaker-container {
  position: relative;
  background: white;
  border: solid 3px black;
  width: 90%;
  margin: 3em auto;
}
.tweaker-close {
  position: absolute;
  top: 3em;
  right: 3em;
}
.tweaker-body textarea {
  display: block;
  width: 90%;
  height: 10em;
}

.loading {
  width: 3px;
  font-size: xx-large;
  margin: 1em auto;
}

.snifter {
  position: absolute;
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
}

.snifter > * {
  /* So that scrolling doesn't leave stuff sitting right on the edge. */
  padding-bottom: 2em;
}

.snifter > .session-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow: scroll;
}

.snifter > .result-pane {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  overflow: scroll;
}
